<div class="container mt-5">
  <h2>My phone book!</h2>

  <hr>

  <div class="mb-3">
    <div class="row">
      <div class="col-10">
        <input type="text" class="form-control" placeholder="search text goes here" [(ngModel)]="field" name="field">
      </div>
      <div class="col-2 d-grid">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserForm"
          (click)="resetForm()">Add</button>
      </div>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" (click)="setSort('firstname')">First name
          {{ sortField === 'firstname' ? order.firstname ? '&#9650;' : '&#9660;	' : '' }}</th>
        <th scope="col" (click)="setSort('lastname')">Last name
          {{ sortField === 'lastname' ? order.lastname ? '&#9650;' : '&#9660;	' : ''}}</th>
        <th scope="col" (click)="setSort('phone')">Number
          {{ sortField === 'phone' ? order.phone ? '&#9650;' : '&#9660;	' : '' }}</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList | search:field | sort:sortField:order[sortField]; index as i">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addUserForm"
            (click)="editUser(i)">Edit</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteUser(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="addUserForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add phone</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="first name goes here" [(ngModel)]="userFirstName"
            name="userFirstName">
          <input type="text" class="form-control mt-3" placeholder="last name goes here" [(ngModel)]="userLastName"
            name="userLastName">
          <input type="text" class="form-control mt-3" placeholder="number phone goes here"
            [(ngModel)]="userPhoneNumber" name="userPhoneNumber">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addUser()">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>
